attrs==21.2.0
billiard==3.6.4.0
certifi==2021.5.30
cftime==1.5.0
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
cvxpy==1.1.15
cycler==0.10.0
Cython==3.0.0a9
ecos==2.0.7.post1
Fiona==1.8.20
fonttools==4.26.2
geographiclib==1.52
geopandas==0.9.0
geopy==2.2.0
haversine==2.5.1
Heightmap-Interpolation==1.0
importlib-metadata==4.8.1
kiwisolver==1.3.2
llvmlite==0.37.0
matplotlib==3.5.0b1
mpmath==1.2.1
munch==2.5.1.dev12
netCDF4==1.5.7
numba==0.54.1
numpy==1.20.3
opencv-python==4.5.3.56
osqp==0.6.2.post0
packaging==21.0
pandas==1.3.2
Pillow==8.3.2
psutil==5.8.0
pyFFTW==0.12.0
pyparsing==3.0.0b3
pyproj==3.2.0
python-dateutil==2.8.2
pytz==2021.1
qdldl==0.1.5.post0
scipy==1.7.1
scs==2.1.4
setuptools-scm==6.3.1
Shapely==1.8a3
six==1.16.0
snakeviz==2.1.0
tomli==1.2.1
tornado==6.1
typing-extensions==3.10.0.2
zipp==3.5.0
